{% extends 'base.html' %}

{% block content %}
    <div class="genres">
        <h3>Ваша подборка</h3>
    
        <form method="GET" id="Form">
            <label for="category">Выберите категорию:</label>
            <select name="category" id="category" onchange="document.getElementById('Form').submit();">
                <option value="">Все категории</option>
                {% for category in categories %}
                    <option value="{{ category.slug }}" {% if category.slug == selected_category %}selected{% endif %}>
                        {{ category.name }}
                    </option>
                {% endfor %}
            </select>
        
            <label for="tag">Выберите жанр:</label>
            <select name="tag" id="tag" onchange="document.getElementById('Form').submit();">
                <option value="">Все жанры</option>
                {% for tag in tags %}
                    <option value="{{ tag.slug }}" {% if tag.slug == selected_tag %}selected{% endif %}>
                        {{ tag.tag }}
                    </option>
                {% endfor %}
            </select>
        
            <label for="rating">Рейтинг:</label>
            <select name="rating" id="rating" onchange="document.getElementById('Form').submit();">
                <option value="">Без сортировки</option>
                <option value="desc" {% if request.GET.rating == 'desc' %}selected{% endif %}>
                    По убыванию
                </option>
                <option value="asc" {% if request.GET.rating == 'asc' %}selected{% endif %}>
                    По возрастанию
                </option>
            </select>
        </form>
    </div>

    <div class="movies-container">
        <ul>
            {% for p in favorites %}
                <li>
                    <h3>{{ p.title }}</h3>
                    <div class="info">
                        <p>Категория: {{ p.cat.name }}</p>
                        <p>Жанр:
                            {% for tag in p.tags.all %}
                                {{ tag.tag }}{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        </p>
                        <p>Год: {{ p.release_date.year }}</p>
                        <p>Рейтинг: {{ p.rating }}</p>
                    </div>
                    <div class="movie-description">
                        <p>
                            {% autoescape off %}
                                {{ p.content|truncatechars_html:100 }}
                            {% endautoescape %}
                        </p>
                    </div>
                    <a href="{{ p.get_absolute_url }}" class="movie-link"></a>
                </li>
            {% empty %}
                <p class="empty">Еще ничего не добавлено</p>
            {% endfor %}
        </ul>
    </div>

    {% if page_obj.has_other_pages %}
        <div class="pagination">
            {% if page_obj.number > 1 %}
                <button type="submit" form="Form" name="page" value="1" class="pagination-arrow">&laquo;</button>  <!-- Первая страница -->
            {% endif %}
            {% for p in paginator.page_range %}
                {% if page_obj.number == p %}
                    <button type="submit" form="Form" name="page" value="{{ p }}" class="active">{{ p }}</button>
                {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                    <button type="submit" form="Form" name="page" value="{{ p }}">{{ p }}</button>
                {% endif %}
            {% endfor %}
            {% if page_obj.number < paginator.num_pages %}
                <button type="submit" form="Form" name="page" value="{{ paginator.num_pages }}" class="pagination-arrow">&raquo;</button>  <!-- Последняя страница -->
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
