<div class="movies-container">
    <ul>
    {% for p in post %}
        <li>
            <h3>{{ p.title }}</h3>

            <div class="info">
                <p>Категория: {{ p.cat }}</p>
                <p>Жанр:
                    {% for tag in p.tags.all %}
                        {{ tag.tag }}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                </p>
                <p>Год: {{ p.release_date.year }}</p>
                <p>Рейтинг: {{ p.rating }}</p>
            </div>
            <div class="movie-description">
                <p>
                    {% autoescape off %}
                        {{ p.content|truncatechars_html:100 }}
                    {% endautoescape %}
                </p>
            </div>

            <a href="{{ p.get_absolute_url }}" class="movie-link"></a>
        </li>
        {% empty %}
            <p class="empty">Ничего нет для выбранной категории.</p>
    {% endfor %}
    </ul>
</div>

{% if page_obj.has_other_pages %}
    <div class="pagination">
        {% if page_obj.number > 1 %}
            <button type="submit" name="page" value="1" class="pagination-arrow" form="Form">&lsaquo;</button>  <!-- Первая страница -->
        {% endif %}

        {% for p in paginator.page_range %}
            {% if page_obj.number == p %}
                <button type="submit" name="page" value="{{ p }}" class="active" form="Form">{{ p }}</button>
            {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                <button type="submit" name="page" value="{{ p }}" form="Form">{{ p }}</button>
            {% endif %}
        {% endfor %}

        {% if page_obj.number < paginator.num_pages %}
            <button type="submit" name="page" value="{{ paginator.num_pages }}" class="pagination-arrow" form="Form">&rsaquo;</button>  <!-- Последняя страница -->
        {% endif %}
    </div>
{% endif %}
