{% extends 'base.html' %}
{% load movies_tags %}

{% block content %}

    {% show_categories %}

    <h2>Популярное сейчас</h2>

    <ul class="list-movies">
        {% for p in posts %}
                <li>
                    <h3>{{ p.title }}</h3>
                    {% autoescape off %}
                        {{ p.content|linebreaks|truncatewords:50 }}
                    {% endautoescape %}
                    <div class="clear"></div>
                    <p class="link-post"><a href="{{ p.get_absolute_url }}">Перейти к просмотру</a></p>
                    {% if not forloop.last %}
                        <hr>
                    {% endif %}
                </li>
        {% endfor %}
    </ul>

    {% show_categories %}

{% endblock %}
