{% extends 'base.html' %}
{% load movies_tags %}

{% block content %}

    {% show_categories %}
    
    <div class="movies-container">
    
    <h2>Популярное сейчас</h2>
        <ul>
        {% for p in posts %}
            <li>
                <h3>{{ p.title}}</h3>
            
                <div class="info">
                    <p>Категория: {{ p.cat }}</p>
                    <p>Жанр:
                        {% for tag in p.tags.all %}
                            {{ tag.tag }}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </p>
                    <p>Год: {{ p.release_date.year }}</p>
                </div>
                <div class="movie-description">
                    <p>
                        {% autoescape off %}
                            {{ p.content|linebreaks|truncatewords:14 }}
                        {% endautoescape %}
                    </p>
                </div>
                
                <a href="{{ p.get_absolute_url }}" class="movie-link"></a>
            </li>
        {% endfor %}
        </ul>
    
    </div>

    {% show_categories %}

{% endblock %}
