{% extends 'base.html' %}
{% block content %}

<div class="delete-container">
    <h1 class="delete-title">Удалить "{{ movie.title }}" ({{ movie.release_date.year }})?</h1>
    <p class="delete-message">Вы уверены, что хотите удалить фильм?</p>
    <p class="delete-warning">Это действие нельзя будет отменить.</p>

    <form method="post" class="delete-form">
        {% csrf_token %}
        <button type="submit" class="delete-button confirm-button">Подтвердить удаление</button>
        <a href="{% url 'index' %}" class="delete-button cancel-button">Отмена</a>
    </form>
</div>

{% endblock %}