{% extends 'base.html' %}
{% block content %}
    
    <div class="person-container">
        <div class="wrapper">
            <div class="poster-container">
                {% if person.photo %}
                    <img src="{{ person.photo.url }}" alt="{{ person.name_ru }} фото" class="poster">
                {% else %}
                    <p>Изображение не загружено</p>
                {% endif %}
            </div>

            <div class="description">
                <h3>{{ person.name_en }}</h3>
                {% if person.bio %}
                    <p>{{ person.bio }}</p>
                {% endif %}
                <h3>Фильмы:</h3>
                <ul class="movie-list">
                    {% for movie in directed_movies %}
                        <li>
                            <a href="{{ movie.get_absolute_url }}">
                                {{ movie.title }} ({{ movie.release_date|date:"Y" }})
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        
        </div>
        <!-- /.wrapper -->
    </div>
    
{% endblock %}
