{% extends 'base.html' %}
{% load static %}
]{% load custom_filters %}
{% block content %}
    
    <script src="{% static 'movies/js/scripts.js' %}"></script>
    
    <div class="post-container">
        <div class="wrapper">

            <div class="poster-container">
                {% if post.poster %}
                    <img src="{{ post.poster.url }}" alt="{{ post.title }} постер" class="poster">
                {% else %}
                    <p>Изображение не загружено</p>
                {% endif %}

                {% if user.is_authenticated %}
{#                    <p>Этот фильм добавили в избранное {{ favorites_count }} {{ favorites_count|ru_pluralize }}.</p>#}
                    <div class="favorites-action">
                        {% if is_favorite %}
                            <a href="{% url 'remove_favorites' post_slug=post.slug %}" class="btn btn-danger">
                                Удалить из избранного</a>
                        {% else %}
                            <a href="{% url 'add_favorites' post_slug=post.slug %}" class="btn-submit">
                                Добавить в избранное</a>
                        {% endif %}
                    </div>
                    {% include 'movies/parts/action_buttons.html' %} 
                {% endif %}
            </div>
            
            <div class="description">
                <h3>{{ post.title_en }}</h3> 
                <ul class="details">
                    <li><span>Рейтинг:</span>{{ post.rating|default:"" }}</li>
                    <li><span>Дата выхода:</span>{{ post.release_date|date:"d.m.Y" }}</li>

                    <li><span>Бюджет фильма:</span>
                        {% if post.budget %}
                            {{ post.budget|floatformat:"0" }} $
                        {% else %}
                            Не указан
                        {% endif %}
                    </li>

                    <li><span>Жанр:</span>
                        {% for tag in post.tags.all %}
                            <a href="{% url 'category' cat_slug=post.cat.slug %}?genre={{ tag.slug }}">{{ tag.tag }}</a>
                        {% endfor %}
                    </li>

                    <li><span>Режиссер:</span>
                        {% if directors %}
                            {% for director in directors %}
                                <a href="{% url 'person' person_slug=director.slug %}">{{ director.name_ru }}</a>
                            {% endfor %}
                        {% else %}
                            Не указан
                        {% endif %}
                    </li>
                </ul>

                <h3>Описание:</h3>
                <p>{{ post.content }}</p>
            
            </div>

        </div>
        
        {% include 'movies/parts/comment_section.html' %}

    </div>

{% endblock %}
