{% extends 'base.html' %}
{% block content %}
    
    <div class = "post-container">
        <div class="wrapper">
        
            <div>
                {% if post.poster %}
                    <img src="{{ post.poster.url }}" alt="{{ post.title }} постер">
                {% else %}
                    <p>Изображение не загружено</p>
                {% endif %}
            </div>
        
            <div class="description">
                <h3>{{ post.title_en }}</h3>
                <ul class="details">
                    <li><span>Рейтинг:</span>{{ post.rating|default:"" }}</li>
                    <li><span>Бюджет фильма:</span>
                        {% if post.budget %}
                            {{ post.budget|floatformat:"0" }} $
                        {% else %}
                        {% endif %}
                    </li>
                    <li><span>Дата выхода:</span>{{ post.release_date|date:"d.m.Y" }}</li>
                    <li><span>Жанр:</span>
                        {% for tag in post.tags.all %}
                            <a href="{% url 'tag' cat_slug=cat_slug tag_slug=tag.slug %}">{{ tag.tag }}</a>
                        {% endfor %}
                    </li>
                      <li><span>Режиссер:</span>
                        {% if directors %}
                            {% for director in directors %}
                                <a href="{% url 'person' person_slug=director.slug %}">{{ director.name_ru }}</a>
                            {% endfor %}
                        {% else %}
                            Не указан
                        {% endif %}
                      </li>
                </ul>
            
                    <h3>Описание:</h3>
                    <p>{{ post.content }}</p>
            </div>
        
        </div>
        <!-- /.wrapper -->
    </div>
    <!-- /.container -->
    
{% endblock %}