<div class="comments-container">
    {% include 'movies/partial/reactions.html' %}
    <div class="comment-form">
        {% if request.user.is_authenticated %}
            <h3>Написать комментарий</h3>
            <form method="post">
                {% csrf_token %}
                {{ form.text.label_tag }}
                {{ form.text }}
                <div class="char-counter">
                    Осталось символов: <span id="char-count">500</span>
                </div>
                <button type="submit" class="btn-submit">Отправить</button>
            </form>
        {% else %}
            <div class="login-message">
                <p>Только зарегистрированные пользователи могут оставлять комментарии.
                    <a href="{% url 'users:login' %}?next={% url 'post' post_slug=post.slug %}">Войдите</a>, чтобы оставить комментарий.</p>
            </div>
        {% endif %}
    </div>

    <div class="comments-list">
        <h3 style="margin-bottom: 25px;">Комментарии:</h3>
        {% for comment in comments %}
            <div class="comment-item">
                <strong>{{ comment.author }}:</strong>
                <p>{{ comment.text }}</p>
                <small>{{ comment.created_at|date:"d.m.Y H:i" }}</small>
            </div>
        {% empty %}
            <p>Напишите первый комментарий.</p>
        {% endfor %}
    </div>

    {% if comments.has_other_pages %}
        <div class="pagination">
            <form method="get" id="commentsForm">
                {% if comments.has_previous %}
                    <button type="submit" form="commentsForm" name="page" value="{{ comments.previous_page_number }}" class="pagination-arrow">&lsaquo;</button> <!-- Предыдущая страница -->
                {% endif %}

                {% for p in comments.paginator.page_range %}
                    {% if p == 1 or p == comments.paginator.num_pages %}
                        <button type="submit" form="commentsForm" name="page" value="{{ p }}" {% if comments.number == p %}class="active"{% endif %}>{{ p }}</button>
                    {% elif p >= comments.number|add:-2 and p <= comments.number|add:2 %}
                        <button type="submit" form="commentsForm" name="page" value="{{ p }}" {% if comments.number == p %}class="active"{% endif %}>{{ p }}</button>
                    {% elif p == comments.number|add:-3 or p == comments.number|add:3 %}
                        <span>...</span>
                    {% endif %}
                {% endfor %}

                {% if comments.has_next %}
                    <button type="submit" form="commentsForm" name="page" value="{{ comments.next_page_number }}" class="pagination-arrow">&rsaquo;</button> <!-- Следующая страница -->
                {% endif %}
            </form>
        </div>
    {% endif %}
</div>
